p1 {
  position:absolute;
  left: 10px;
  right: 10px;
  color: aquamarine;
}

button1 {
  left: 50%;
  right: 50%;
  background: cyan;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 8px;
  text-align: center;
  display: inline-block;
}

button2 {
  left: 50%;
  right: 50%;
  background: lightpink;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 8px;
  text-align: center;
  display: inline-block;
}
